$primary-color: #2c8c9c;
$secondary-color: #ffc700;
$secondary-color-tint: #dcad03;
$primary-bright-color: #27b2c7;
$input-color: #e5e5e5;
$input-accent-color: #edecec;
$text-color: #7d7d7d;
$tint-color: #e5e5e5;
$time: 500ms;
$button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
