$primary-color: #2C8C9C;
$secondary-color: #FFC700;
$secondary-color-tint: #dcad03;
$primary-bright-color: #27B2C7;
$text-color: #7D7D7D;
$tint-color: #E5E5E5;
$time: 500ms;
$button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
