@import '../../styles/App.scss';

.clients_wrapper {
  width: 90%;
  margin: 37px auto;

  & input[type='text'] {
    margin-right: 14px;
  }
}

.buttons_wrapper {
  display: flex;
  justify-content: space-between;
}

.filter_button {
  padding: 3px 15px;
  background-color: transparent;
  font-size: 31px;
  border: none;

  &:hover {
    color: $secondary-color;
  }
}

.trains_wrapper {
  margin: 40px 0;
}
