@import '../../../styles/variables.scss';

.myBtn {
    padding: 11px 21px;
    color: white;
    font-size: 18px;
    background: $secondary-color;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    transition: $time;

    &:hover {
      background: $secondary-color-tint;
      box-shadow: $button-shadow;
    }
}
