@import '../../../styles/App.scss';

.links {
  display: flex;
  font-size: 14px;
  width: 80%;
}

.navLinkActive {
  color: red;
}

.unselected {
    color: blue;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }