@import '../../styles/App.scss';

.client_preview_wrapper {
  display: flex;
  padding-bottom: 17px;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid $tint-color;

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  width: 10%;
}

.title {
  color: $secondary-color;
  vertical-align: middle;
}
