@import '../../styles/App.scss';

.workout_preview_wrapper {
  display: flex;
  padding-bottom: 17px;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid $tint-color;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  width: 10%;
  min-width: 38px;
  margin-left: 20px;
}

.title {
  color: $text-color;
  vertical-align: middle;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
